.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_list {
  display: flex;
  gap: 24px;
}
.header_list_items a {
  display: block;
  padding-top: 33px;
  padding-bottom: 33px;
}

.header_user_action_list {
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_user_action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_user_action img {
  margin-right: 8px;
}

.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_nav img {
  margin-right: 24px;
}

.sign_btn {
  background: #4262ff;
  border: 1px solid #4262ff;
  border-radius: 24px;
  padding: 17px 22px 17px 22px;
  max-width: 155px;
  height: 50px;
  font-family: var(--font4);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
}
