.ways_container {
  position: relative;
  display: flex;
}

.ways_background {
  width: 100%;
  display: flex;
  justify-content: center;
  display: block;
}

.ways_title_container {
  position: absolute;
  right: 14%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50%;
  text-align: right;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ways_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 173%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #050038;
  width: 107px;
}
.ways_par {
  font-family: var(--font4);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #050038;
  margin-bottom: 20px;
}

.ways_btn {
  font-family: var(--font4);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #fff;
  border: 1px solid #4262ff;
  border-radius: 40px;
  padding: 8px 26px 12px 26px;
  min-width: 167px;

  background: #4262ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
